apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/jhutar-tenant/devfile-sample/devfile-sample@sha256:765ce18a87e817b30c2ff1ed696601692aebeeaaf18c777469362bbee38e9bbc
        name: my-nodejs
        resources: {}
status: {}
